{% extends 'base.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% block body %}

<div class="container mt-5 mb-5">
    <div class="card-agenda-dia">
        <h2 class="text-center mb-4">Agendamentos do Dia</h2>
        {% if agendamentos_dia %}
            {% for agendamento in agendamentos_dia %}
                <div class="agenda-item">
                    <form method="POST" action="{{ url_for('main.excluir_agendamento', id=agendamento.id) }}">
                        <p><strong>Cliente:</strong> {{ agendamento.username }}</p>
                        <p><strong>Serviço:</strong> {{ agendamento.servico }}</p>
                        <p><strong>Horário:</strong> {{ agendamento.hora }}</p>
                        <p><strong>Telefone:</strong> {{ agendamento.cell }}</p>
                        <button type="submit" class="delete-btn">Excluir</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center">Nenhum agendamento para hoje.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

