{% extends 'base.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% block body %}


<div class="container mt-5 mb-5">
    <div class="card-agendar">
        <h2 class="text-center mb-4">Agende seu Horário</h2>
        <form method="POST">
            {{ form_agendar.csrf_token }}
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form_agendar.username.label(class="form-label") }}
                    {{ form_agendar.username(class="form-control", placeholder="Seu nome") }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form_agendar.cell.label(class="form-label") }}
                    {{ form_agendar.cell(class="form-control", placeholder="DDD + Celular") }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form_agendar.servico.label(class="form-label") }}
                    {{ form_agendar.servico(class="form-control") }}
                </div>
                <div class="col-md-3 mb-3">
                    {{ form_agendar.datar.label(class="form-label") }}
                    {{ form_agendar.datar(class="form-control") }}
                </div>
                <div class="col-md-3 mb-3">
                    {{ form_agendar.hora.label(class="form-label") }}
                    {{ form_agendar.hora(class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_agendar.botao_submit_agendar(class="btn btn-agendar mt-3") }}
                </div>
                <div class="col-md-6">
                    <a href="{{ url_for('main.agenda_data') }}" class="btn btn-ver-agenda mt-3">Verificar Agenda</a>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Overlay de carregamento -->
<div id="loadingOverlay">
  <div class="loading-spinner d-flex flex-column align-items-center">
    <img src="{{ url_for('static', filename='img/tesoura_loader.gif') }}" alt="Carregando...">
    <p style="margin-top: 20px; color: white; font-weight: bold;">Aguarde, processando agendamento...</p>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.querySelector('form');
    const overlay = document.getElementById('loadingOverlay');

    if (form && overlay) {
      form.addEventListener('submit', function () {
        overlay.style.display = 'flex';
      });
    }
  });
</script>
{% endblock %}

