{% extends 'base.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% block body %}


<div class="container mt-5">
    <div class="card-editar-perfil">
        <h3 class="text-center mb-4">Editar Perfil</h3>
        <img src="{{ foto_perfil }}" alt="Foto de Perfil" class="foto-preview">
        <form method="POST" enctype="multipart/form-data">
            {{ form_editar.csrf_token }}
            <div class="mb-3">
                {{ form_editar.username.label(class="form-label") }}
                {{ form_editar.username(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form_editar.email.label(class="form-label") }}
                {{ form_editar.email(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form_editar.foto_perfil.label(class="form-label") }}
                {{ form_editar.foto_perfil(class="form-control") }}
            </div>
            <div class="text-center">
                {{ form_editar.botao_submit_editarperfil(class="btn btn-salvar px-5") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}

