{% extends 'base.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% block body %}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card text-center">
        <div class="image mb-3">
            <img src="{{ foto_perfil }}" alt="Foto de perfil">
        </div>
        <div class="info">
            <h4>{{ current_user.username }}</h4>
            <span>{{ current_user.email }}</span>
        </div>
        <div class="button">
            <a href="{{ url_for('main.editar_perfil') }}">
                <button class="btn btn-edit">Editar Perfil</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}

